.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
.vscode/
.DS_Store
*.log
evaluation_outputs/
static/test/
static/meme/ack.txt
retrained_graph.pb
src/LSTM.h5
src/notebooks/glove.6B.50d.txt